/* line 2, static/scss/auth.scss */
.card {
  padding: 40px 20px; }

/* line 6, static/scss/auth.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 12, static/scss/auth.scss */
form {
  width: 100%;
  padding: 15px;
  margin: 0 auto; }

/* line 18, static/scss/auth.scss */
form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px; }

/* line 26, static/scss/auth.scss */
form .form-control:focus {
  z-index: 2; }

/* line 30, static/scss/auth.scss */
.container {
  margin-top: 50px;
  font-size: 16px !important; }

/* line 3, static/scss/login.scss */
html,
body,
.background {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }

/* line 19, static/scss/login.scss */
form input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

/* line 25, static/scss/login.scss */
form input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
