{% extends './base.html' %}

{% load static %}
{% load template_functions %}

{% block scss %}
    <link type="text/x-scss" href="{% static 'scss/areas.scss' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block body %}
    {% include './components/navbar.html' %}

     <div id="areas">
        {% if areas %}
            {% for area in areas %}
                <div>
                    <h3>{{area.name}}</h3>
                    {% for goal in area.goals %}
                        <div>{{goal.title}}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block react_bundle %}

     <script>
        let areas = JSON.parse("{{areas|queryset_as_json:user|escapejs}}")
        let form = `{% include './components/form_render.html' %}`
        let urls = {
            'update_goal': `{% url 'update_goal' 0 %}`, 
            'delete_goal': `{% url 'delete_goal' 0 %}`, 
            'list_one_goal': `{% url 'list_one_goal' 0 %}`
        }

        var context = {areas, form, urls};
    </script>

    <script src="{% static 'js/areas.bundle.js' %}"></script>

{% endblock %}